:root {
  --background-color: #bdbebf;
  --alt-background-color: #0c0d0a;
  --text-color: #736b62;
  --alt-text-color: #594c3b;
  --link-color: #00d157be;
  --selected-theme: #30aa00;
  --logo-img: url("../assets/wolf-light.svg");

  --def-font-family: "Expletus Sans", sans-serif;

  --default-transition: all 0.2s ease-in-out;
  margin: 0;
  background-color: var(--background-color);
  transition: var(--default-transition);
  font-family: var(--def-font-family);
  color: var(--text-color);
}

.dark {
  --background-color: #0c0d0a;
  --alt-background-color: #bdbebf;
  --text-color: #594c3b;
  --alt-text-color: #736b62;
  --link-color: #008839ea;

  --logo-img: url("../assets/wolf-dark.svg");
  transition: var(--default-transition);
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

input {
  font-family: var(--def-font-family);
}

h1,
p,
h4 {
  margin: 0;
}

a {
  text-decoration: underline;
  color: var(--link-color);
}

a::selection {
  color: var(--link-color);
}
