body {
  margin: 0 auto;
  box-sizing: border-box;
  max-width: 100vw;
}

.navbar {
  position: sticky;
  top: 0;
  left: 0;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--alt-background-color);
  color: var(--text-color);
  transition: var(--default-transition);
  padding: 0 20px;
}

.navbar h1 {
  transition: var(--default-transition);
}

.navbar a {
  text-decoration: none;
  color: var(--text-color);
}

.navbar a::selection{
  color: var(--text-color);
}

.navbar.scrolled {
  height: 50px;
  opacity: 0.5;
  transition: var(--default-transition);
}

.navbar.scrolled h1 {
  font-size: 20px;
  color: var(--background-color);
  transition: var(--default-transition);
}

.logo-cont {
  margin-top: 30px;
  display: flex;
  width: 100%;
  justify-content: center;
}

.logo {
  width: 100px;
  height: 119px;
  background-image: var(--logo-img);
  animation: siteEnterence 1s ease-in forwards;
}

.theme-tab-cont {
  position: fixed;
    display: flex;
    align-items: stretch;
    gap: 10px;
    width: fit-content;
    background-color: var(--alt-background-color);
    color: var(--text-color);
    padding: 5px;
    border-radius: 10px 0 0 10px;
    right: -125px;
    top: 50vh;
    transition: var(--default-transition);
}

.theme-tab-cont.active {
  right: 0;
  transition: var(--default-transition);
}

#tab i {
  font-size: 25px;
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
}


.theme-changer {
  display: flex;
    flex-direction: column;
    align-items: center;
}

.theme-btns {
  font-size: 20px;
  border-radius: 10px;
  padding: 5px;
  border: solid 3px var(--alt-background-color);
  background-color: var(--alt-background-color);
  color: var(--alt-text-color);
  transition: var(--default-transition);
}

.theme-btns.active {
  background-color: var(--background-color);
  color: var(--text-color);
  border-color: var(--selected-theme);
  transition: var(--default-transition);
}

.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
  gap: 30px;
  animation: siteEnterence 1s ease-in forwards;
}

.header-cont {
  width: 19vw;
  text-align: center;
}

.header-cont h1 {
  font-size: 60px;
}

.statement-cont {
  width: 20vw;
  text-align: center;
}

.sites-cont {
  margin: 150px 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10%;
  animation: siteEnterence 1s ease-in forwards;
  
}

.site {
  background-color: var(--alt-background-color);
  cursor: pointer;
  width: 250px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
}

.site h1 {
  padding-left: 10px;
  vertical-align: middle;
}

.site img {
  width: 250px;
  height: 170px;
}

.site-content {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.site-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}


@keyframes siteEnterence {
  0% {
    opacity: 0;
    transform: translateY(75px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
